body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.login{
    float: right;
    margin-top: 50px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

.contents{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 13.5px 25px 25px 25px;
    box-shadow: 4px 4px 4px lightgray;
}

h2{
    text-align: center;
    border-bottom: solid 1px #31a263;
    font-size: 20px;
}

.left{
    float:left
}

.img{
    border: 2px solid lightgray;
    margin: 0px 20px;
    padding: 10px;
}

.right{
    float: left;
    padding: 5px;
    margin-bottom: 10px;
}

.formbox{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #111;
    background: #fff;
}

.comments{
    clear: left;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.item{
    margin-left: 10px;
    margin-top: 10px;
}

.center{
    text-align: center;
}

.submit{
    text-align: center;
}

.submit_button{
    border: 1px solid lightgray;
    padding: 6px 30px 4px 30px;
    color: white;
    background-color: #31a263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 180px;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}